In [1]:
# dict
# multiple data
# Indexing
# ordered
# Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>}

In [4]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(type(d))
print(d)
print(len(d))

<class 'dict'>
{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
3

In [10]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d['a'])
print(d['b'])
print(d['c'])

Apple
Ball
Cat

In [11]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['a'] = 'apple'
d

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
d = {}
#d = dict()
d['a'] = 'Apple'
d['b'] = 'Ball'
d

{'a': 'Apple', 'b': 'Ball'}

In [14]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808778765
{'Ram': '9808778765', 'Shyam': '9808778765'}

In [ ]:
a = {1: 'Apple', 2: 'Ball'}

In [15]:
a = {'Ram': '9808778765', 'Shyam': '9808778765'}
for i in a:
    print(i)

Ram
Shyam

In [17]:
a = {'Ram': '9808778765', 'Shyam': '9808778765'}
for i in a.values():
    print(i)

9808778765
9808778765

In [18]:
a = {'Ram': '9808778765', 'Shyam': '9808778765'}
for i in a.items():
    print(i)

('Ram', '9808778765')
('Shyam', '9808778765')

In [19]:
# del
# pop

In [20]:
a = {'Ram': '9808778765', 'Shyam': '9808778765'}
del a['Ram']
a

{'Shyam': '9808778765'}

In [21]:
a = {'Ram': '9808778765', 'Shyam': '9808778765'}
b = a.pop('Ram')
print(a)
print(b)

{'Shyam': '9808778765'}
9808778765

In [ ]:
a = {'name':'Ram','age':34,'add':'Kathmandu'}

In [22]:
a = [['name','Ram'],['age',45],['add','Kathmandu']]
print(dict(a))

{'name': 'Ram', 'age': 45, 'add': 'Kathmandu'}

In [23]:
a = {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'}
list(a)

['name', 'age', 'add']

In [25]:
a = {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'}
list(a.values())

['Ram', 45, 'Kathmandu']

In [26]:
a = {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'}
list(a.items())

[('name', 'Ram'), ('age', 45), ('add', 'Kathmandu')]

In [29]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['a'] = 'apple'
d

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [30]:
# No + *

In [35]:
# update()
a = {'a':'Apple'}
b = {'b':'Ball'}
c = {'c':'Cat'}
a.update(b)
print(a)

{'a': 'Apple', 'b': 'Ball'}

In [ ]:
# list inside dictionary

In [33]:
a = {'name':['Ram','Shyam'],
    'phone':['9808778765','9808778765']}

In [ ]:
a = {'Ram':[9808778765,9087787655],
    'Hari':[9808778765,9808667654]}

In [1]:
a = {'name':[],'phone':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    a['name'].append(name)
    a['phone'].append(phone)
    
print(a)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808778765
{'name': ['Ram', 'Shyam'], 'phone': ['9808778765', '9808778765']}

In [5]:
a = {'name': ['Ram', 'Shyam'], 'phone': ['9808778765', '9808778765']}
print(a['name'])
print(a['phone'][0])

['Ram', 'Shyam']
9808778765

In [6]:
a = {'Ram':[9808778765,9087787655],
    'Hari':[9808778765,9808667654]}
print(a['Ram'])

[9808778765, 9087787655]

In [7]:
print(a['Ram'][0])

9808778765

In [8]:
# dict inside list
a = [{'name':'Ram','age':34},
    {'name':'Shyam','age':36}]
a

[{'name': 'Ram', 'age': 34}, {'name': 'Shyam', 'age': 36}]

In [11]:
len(a)
print(a[1])

{'name': 'Shyam', 'age': 36}

In [14]:
a[0]['age']

34

In [15]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    d = {'Name':name,'Age':age}
    a.append(d)
print(a)

Enter n = 2
Enter name = Ram
Enter age = Shyam
Enter name = Hari
Enter age = 89
[{'name': 'Ram', 'age': 'Shyam'}, {'name': 'Hari', 'age': '89'}]

In [19]:
a[0]['name'] = 'Rama'
a

[{'name': 'Rama', 'age': 'Shyam'}, {'name': 'Hari', 'age': '89'}]

In [21]:
a[0]['name']

{'name': 'Rama', 'age': 'Shyam'}

In [22]:
# dict inside dict

In [30]:
a = {'Ram':{'ntc':98678876754,'ncell':908667654,'landline':4456787},
    'Shyam':{'ncell':9808778765,'ntc':9808778765,'landline':4456785}}
a

{'Ram': {'ntc': 98678876754, 'ncell': 908667654, 'landline': 4456787},
 'Shyam': {'ncell': 9808778765, 'ntc': 9808778765}}

In [31]:
print(a['Ram']['ntc'])
print(a['Ram']['landline'])

98678876754
4456787

In [ ]:
d = {}
#d = dict()
d['a'] = 'Apple'
d['b'] = 'Ball'
d

In [33]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc no = ")
    ncell = input("Enter ncell no = ")
    landline = input("Enter landline = ")
    d[name] = {'Ntc':ntc,'Ncell':ncell,'Landline':landline}
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc no = 9878889876
Enter ncell no = 9808778765
Enter landline = 4409667
Enter name = Shyam
Enter ntc no = 9878990987
Enter ncell no = 9808778756
Enter landline = 4456119
{'Ram': {'Ntc': '9878889876', 'Ncell': '9808778765', 'Landline': '4409667'}, 'Shyam': {'Ntc': '9878990987', 'Ncell': '9808778756', 'Landline': '4456119'}}