In [13]:
a = 10   
b = 20.5
c = 'Hello World'
d = True

print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
20.5
Hello World
True
10 20.5 Hello World True

In [11]:
print(a)

10

In [17]:
a = 10             #this is int
b = 20.5           #This is float
c = 'Hello World'  #this is string  
d = True           #This is boolean

In [ ]:
#string
c = 'Hello World'
d = "Hello World"
c = '''Hello World'''

In [ ]:
z = 'Hello 10'
y = "@#$%^&"

In [1]:
a = '''He has a dog. It's color " is black. '''

In [2]:
# + - * / ** // %

In [7]:
a = 10
b = 3
c = a / b
print(c)

3.3333333333333335

In [9]:
print(a**b)

1000

In [12]:
print(a//b)

3

In [13]:
print(a%b)

1

In [14]:
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [16]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [17]:
a = "10"
b = "20"
print(a+b)

1020

In [19]:
a = "10"
b = 2
print(a*b)

1010

In [21]:
a = True
b = True
c = a+b
print(c)

2

In [22]:
#type()
a = 10   
b = 20.5
c = 'Hello World'
d = True

In [23]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [25]:
# basic io operation
a = input()
print(a)

Hello
Hello

In [26]:
a = input("Enter value of a ")
print(a)

Enter value of a Hello
Hello

In [28]:
fname = input("Enter your f name ")
lname = input("Enter your l name ")
full_name = fname + " " + lname
print(full_name)

Enter your f name Aayush
Enter your l name Adhikari
Aayush Adhikari

In [ ]:
a = input("Enter a = ")
b = input("Enter b = ")
print(a+b)

In [ ]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
print(a+b)

In [1]:
a = float(input("Enter a = "))
b = float(input("Enter b = "))
print(a+b)

Enter a = 10.5
Enter b = 20.1
30.6

In [3]:
#Type casting
a = 10
b = float(a)
print(b)

10.0

In [4]:
a = 10.5
b = int(a)
print(b)

10

In [5]:
a = "10"
b = int(a)
print(b)

10

In [6]:
a = 10
b = str(a)
print(b)

10

In [7]:
p = float(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100
print("The value of i is ",i)

Enter p = 10000
Enter t = 3
Enter r = 10
The value of i is  3000.0

In [11]:
name = input("Enter your name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello I am " + name + " I am from " + add + " I am "+ str(age)
print(info)

Enter your name = Ram
Enter age = 34
Enter add = Kathmandu
Hello I am Ram I am from Kathmandu I am 34