In [1]:
# Python collections
# list
# tuple
# dictionary
# set

In [2]:
# # list
# -Multiple and duplicate
# -Indexing
# -Ordered
# -Mutable

In [3]:
a = []
a = list()

In [5]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
b = [1,2,3,4.5,4.7]
print(type(a))

<class 'list'>

In [15]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple2"]
print(a[5])
print(a[0:4])
print(a[::2])
print(a[-1])

Apple2
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']
Apple2

In [16]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [19]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
a[0] = "apple"
a

['apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [20]:
# + *

In [43]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
b = ["Cat","Dog"]
c = a + b
print(c)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Cat', 'Dog']
['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [22]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [24]:
a = []
b = ["Apple"]
c = a+b
c + ["Ball"]

['Apple', 'Ball']

In [27]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l + [x]
    
print(l)

Enter n = 5
Enter x = 234
Enter x = 354
Enter x = 564
Enter x = 34
Enter x = 65
[234, 354, 564, 34, 65]

In [32]:
print("The sum of all no = ",sum(l))
print("The max value = ",max(l))
print("The min value = ",min(l))
print("The average value = ",sum(l)/n)
l.sort()
print(l)
l.reverse()
print(l)

The sum of all no =  1251
The max value =  564
The min value =  34
The average value =  250.2
[34, 65, 234, 354, 564]
[564, 354, 234, 65, 34]

In [34]:
a = ["Zebra","Apple","Cat","Ant","zebra","apple"]
a.sort()
print(a)

['Ant', 'Apple', 'Cat', 'Zebra', 'apple', 'zebra']

In [35]:
a = ["Zebra","Apple","Cat","Ant","zebra","apple"]
for i in a:
    print(i)

Zebra
Apple
Cat
Ant
zebra
apple

In [37]:
a = ["Zebra","Apple","Cat","Ant","zebra","apple"]
if "Apple" in a:
    print("Yes")
    print(a.count("Apple"))
else:
    print("No")

Yes
1

In [38]:
# input value
# append()
# insert()
# extend()

# delete
# del 
# remove()
# pop()

In [40]:
a = ["Zebra","Apple","Cat","Ant","zebra","apple"]
a.append("Apple3")
print(a)

['Zebra', 'Apple', 'Cat', 'Ant', 'zebra', 'apple', 'Apple3']

In [41]:
a = ["Zebra","Apple","Cat","Ant","zebra","apple"]
a.insert(2,"cat")
a

['Zebra', 'Apple', 'cat', 'Cat', 'Ant', 'zebra', 'apple']

In [42]:
a = ["Zebra","Apple","Cat","Ant","zebra","apple"]
b = [1,2,3,4]
a.extend(b)
print(a)

['Zebra', 'Apple', 'Cat', 'Ant', 'zebra', 'apple', 1, 2, 3, 4]

In [44]:
a = ["Zebra","Apple","Cat","Ant","zebra","apple"]
del a[0]
a

['Apple', 'Cat', 'Ant', 'zebra', 'apple']

In [45]:
a = ["Zebra","Apple","Cat","Ant","zebra","apple"]
del a[0:5]
a

['apple']

In [49]:
a = ["Zebra","Apple","Cat","Ant","zebra","apple"]
# b = [a.pop(0)]
b = a.pop()
print(a)
print(b)

['Apple', 'Cat', 'Ant', 'zebra', 'apple']
['Zebra']

In [48]:
a = ["Zebra","Apple","Cat","Ant","zebra","apple"]
a.remove("Zebra")
a

['Apple', 'Cat', 'Ant', 'zebra', 'apple']

In [2]:
a = ["Zebra","Apple","Cat","Ant","zebra","Apple"]
a.remove("Apple")
a

['Zebra', 'Cat', 'Ant', 'zebra', 'Apple']

In [5]:
a = ["Zebra","Apple","Cat","Ant","zebra","Apple"]
value = input("Enter value = ")
l = a.count(value)
for i in range(l):
    a.remove(value)
a

Enter value = Apple

['Zebra', 'Cat', 'Ant', 'zebra']

In [7]:
a = "Ram-Shyam-Hari-Sita-Gita"
a.split('-')

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']

In [8]:
# list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(len(a))

3

In [9]:
a = [["Ram",78,"Kathmandu"],
    ["Shyam",34,"Bhaktapur"],
    ["Hari",23,"Lalitpur"]]
a

[['Ram', 78, 'Kathmandu'],
 ['Shyam', 34, 'Bhaktapur'],
 ['Hari', 23, 'Lalitpur']]

In [12]:
print(a[2])

['Hari', 23, 'Lalitpur']

In [17]:
print(a[0][2])

Kathmandu

In [19]:
a = [["Ram",78,"Kathmandu"],
    ["Shyam",34,"Bhaktapur"],
    ["Hari",23,"Lalitpur"]]
a[0] = ["Rama",34,"Ktm"]
a

[['Rama', 34, 'Ktm'], ['Shyam', 34, 'Bhaktapur'], ['Hari', 23, 'Lalitpur']]

In [20]:
a[0][0] = "rama"
a

[['rama', 34, 'Ktm'], ['Shyam', 34, 'Bhaktapur'], ['Hari', 23, 'Lalitpur']]

In [21]:
del a[0]
print(a)

[['Shyam', 34, 'Bhaktapur'], ['Hari', 23, 'Lalitpur']]

In [23]:
x = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x.append([name,age,add])
    
print(x)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Krishna
Enter age = 89
Enter add = Lalitpur
[['Ram', 89, 'Kathmandu'], ['Krishna', 89, 'Lalitpur']]

In [31]:
a = [['Ram', 34, 'Ktm'], ['Shyam', 34, 'Bhaktapur'], ['ram', 23, 'Lalitpur']]
value = input("Enter value = ")
for i in a:
#     print(i)
    if value in i:
        print(i)

Enter value = ram
['ram', 34, 'Ktm']
['ram', 23, 'Lalitpur']

In [34]:
a = [['Ram', 34, 'Ktm'], ['Shyam', 34, 'Bhaktapur'], ['ram', 23, 'Lalitpur']]
value = input("Enter value = ").lower()
for i in a:
#     print(i)
    if value == i[0].lower():
        print(i)

Enter value = ram
['Ram', 34, 'Ktm']
['ram', 23, 'Lalitpur']

In [33]:
a = [['Ram', 34, 'Ktm'], ['Shyam', 34, 'Bhaktapur'], ['ram', 23, 'Lalitpur']]
value = input("Enter value = ").lower()
for i in a:
     print(i[0])

Enter value = Ram
Ram
Shyam
ram

In [ ]:
# # WAP to create a matrix
# r = ? 
# c = ?
# x = ? 

# for i in range(r):
#     for j in range(c):
#         x = int(input())

In [36]:
#bill = "Momo 200 3 600\nCoke 300 2 600"
# print(bill)

Momo 200 3 600
Coke 300 2 600