In [1]:
# Set
# -No indexing
# -Unordered
# -Multiple data
# -No duplicate data
# Mutable

In [1]:
s = {"Apple","Ball","Cat","Dog"}
print(s)
s

{'Dog', 'Apple', 'Ball', 'Cat'}

{'Apple', 'Ball', 'Cat', 'Dog'}

In [2]:
print(type(s))

<class 'set'>

In [3]:
s = {"Apple","Ball","Cat","Dog"}
s[0]

TypeError: 'set' object is not subscriptable

In [4]:
s = {"Apple","Ball","Cat","Dog","Apple"}
s

{'Apple', 'Ball', 'Cat', 'Dog'}

In [8]:
s = {}
type(s)

dict

## Add
#### This used for data entry in set

In [12]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
s

{'Apple', 'Ball', 'Cat'}

In [17]:
a = {1,2,3,4,5}
b = {6,7,8,9}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
a = {1,2,3,4,5}
a.remove(3)
a

{1, 2, 4, 5}

In [16]:
a = {1,2,3,4,5}
a.replace(3,33)
a

AttributeError: 'set' object has no attribute 'replace'

In [18]:
# union()
# intersection()

In [21]:
a = {1,2,3,4,5}
b = {5,6,7,8}
c = a.union(b)
print(c)
print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{8, 5, 6, 7}

In [22]:
a = {1,2,3,4,5}
b = {5,6,7,8}
c = a.intersection(b)
print(c)

{5}

In [28]:
a = "Hello World"
print(list(a))
print(tuple(a))
print(set(a))

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')
{'W', 'o', ' ', 'r', 'H', 'd', 'l', 'e'}

In [36]:
a = "Apple"
b = "Ant"
a1 = set(a)
a2 = set(b)
c = a1.intersection(a2)
print(c)

{'A'}

In [40]:
a = "Hello I am Python"
b = "I love Python"
a1 = set(a.split())
b1 = set(b.split())
a1.intersection(b1)

{'I', 'Python'}

In [27]:
a = 111
print(list(a))
print(tuple(a))

TypeError: 'int' object is not iterable