In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\aayush\anaconda3\lib\site-packages (2.2.9)

In [2]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="")
db = database.cursor()
db.execute("CREATE DATABASE pythons111")

In [1]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "python_class_4pm")
db = database.cursor()

In [2]:
# db.execute("CREATE TABLE subject(id INT, name VARCHAR(255))")

In [2]:
db.execute("SELECT * FROM student")
result =db.fetchall()
result

[(1, 'Ram', 89.0, 67.0, 89.0, 90.0, 80.0, 400.0, 80.0, 'A'),
 (2, 'Shyam', 90.0, 89.0, 78.0, 97.0, 85.0, 70.0, 87.0, 'A')]

In [3]:
db.execute("SELECT sn,name,total,grade FROM student")
result =db.fetchall()
result

[(1, 'Ram', 400.0, 'A'), (2, 'Shyam', 70.0, 'A')]

In [4]:
db.execute("SELECT * FROM student WHERE grade = 'A'")
result =db.fetchall()
result

[(1, 'Ram', 89.0, 67.0, 89.0, 90.0, 80.0, 400.0, 80.0, 'A'),
 (2, 'Shyam', 90.0, 89.0, 78.0, 97.0, 85.0, 70.0, 87.0, 'A')]

In [5]:
# Insert
sql = '''INSERT INTO student (name, physics, chemistry, math, english, nepali, total, per, grade) 
VALUES ('Sashi', 89, 78, 67, 90, 67, 450, 86, 'A')'''
db.execute(sql)
database.commit()

In [6]:
name = input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry = "))
math = int(input("Enter math = "))
english = int(input("Enter english = "))
nepali = int(input("Enter nepali = "))

total = physics + chemistry + math + english + nepali
per = total/5

if per >= 80:
    grade = 'A'
elif per >= 60:
    grade = 'B'
elif per >= 40:
    grade = 'C'
else:
    grade = 'F'

sql = f'''INSERT INTO student (name, physics, chemistry, math, english, nepali, total, per, grade) 
VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}')'''
db.execute(sql)
database.commit()

Enter name = Akash
Enter physics marks = 89
Enter chemistry = 90
Enter math = 89
Enter english = 87
Enter nepali = 90

In [8]:
name = input("Enter name = ")

db.execute(f"SELECT * FROM student WHERE name = '{name}'")
result =db.fetchall()
result

Enter name = ram

[(1, 'Ram', 89.0, 67.0, 89.0, 90.0, 80.0, 400.0, 80.0, 'A')]

In [9]:
sql = "UPDATE student SET name = 'Rama' WHERE name = 'Ram'"
db.execute(sql)
database.commit()

In [10]:
sql = "DELETE FROM student WHERE sn = 5"
db.execute(sql)
database.commit()