In [1]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [2]:
a = "Apple "
b = "Ball"
c = a+b
print(c)

Apple Ball

In [4]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [6]:
a = "Hello World"
for i in a:
    print(i,end = "")

Hello World

In [12]:
a = "Hello World"
print(a[2])
print(a[0:10])
print(a[0:12:2])

l
Hello Worl
HloWrd

In [15]:
a = "Hello World"
print(a[-1])

d

In [21]:
a = "Hello World"
print(a[-1::-1])
print(a[::-1])

dlroW olleH
dlroW olleH

In [24]:
a = "Hello World"
b = a[6:]
print(b)

World

In [25]:
a = "Hello World"
print(len(a))

11

In [28]:
a = "Hello World"
n = len(a)
for i in range(n):
    print(a[i],end = "")

Hello World

In [30]:
i = 0
a = "Hello World"
n = len(a)
while i<n:
    print(a[i],end = "")
    i = i+1

Hello World

In [31]:
name = "Ram"
age = 34
add = "Kathmandu"

info = "Hello world I am "+name+ " I am from " + add + " I am "+str(age)
print(info)

Hello world I am Ram I am from Kathmandu I am 34

In [32]:
# string formatting
name = "Ram"
age = 34
add = "Kathmandu"

info = f"Hello world I am {name}. I am from {add} I am {age}"
print(info)

Hello world I am Ram. I am from Kathmandu I am 34

In [36]:
bill = "" #bill = str()
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total + total
    row = f"{product} {price} {quantity} {total}\n"
    bill = bill + row
    
print(bill)
    
print("All total price = ",all_total)

Enter n = 2
Enter product name = Momo
Enter price = 200
Enter quantity = 3
Enter product name = Coke
Enter price = 300
Enter quantity = 2
Momo 200 3 600
Coke 300 2 600

All total price =  1200

In [ ]:
name = input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry = "))
math = int(input("Enter math = "))
english = int(input("Enter english = "))
nepali = int(input("Enter nepali = "))

total = physics + chemistry + math + english + nepali
per = total/5

if per >= 80:
    grade = 'A'
elif per >= 60:
    grade = 'B'
elif per >= 40:
    grade = 'C'
else:
    grade = 'F'

print("Total",total)
print("Per",per)
print("Grade",grade)

In [ ]:
# search
# upper lower
# edit delete replace
# count

In [1]:
# Search
a = "Ram Shyam Hari Sita Gita Sita Ram"
if "Ram" in a:
    print("Yes")
else:
    print("No")

Yes

In [6]:
# Search
a = "Ram Shyam Hari Sita Gita Sita Ram"
name = input("Enter name = ")
if name in a:
    print("Yes",a.count(name))
#     print(a.count(name))
else:
    print("No")

Enter name = ram
No

In [9]:
a = "Ram Shyam Hari Sita Gita Sita Ram"
print(a.upper())
print(a.lower())
print(a)

RAM SHYAM HARI SITA GITA SITA RAM
ram shyam hari sita gita sita ram
Ram Shyam Hari Sita Gita Sita Ram

In [8]:
# Search
a = "Ram Shyam Hari Sita Gita Sita Ram".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes",a.count(name))
#     print(a.count(name))
else:
    print("No")

Enter name = ram
Yes 2

In [11]:
# edit delete replace
a = "Ram Shyam Hari Sita Gita Sita Ram"
print(a.replace('Ram','ram'))
print(a)

ram Shyam Hari Sita Gita Sita ram
Ram Shyam Hari Sita Gita Sita Ram

In [14]:
# edit delete replace
a = "Ram Shyam Hari Sita Gita Sita Ram"
a = a.replace('Ram ',' ram ')
print(a)

 ram Shyam Hari Sita Gita Sita Ram

In [15]:
a = "Ram Shyam Hari Sita Gita Sita Ram"
a = a.replace('Ram ','')
print(a)

Shyam Hari Sita Gita Sita Ram

In [17]:
i = 0
result = ""
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    physics = int(input("Enter physics marks = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    english = int(input("Enter english = "))
    nepali = int(input("Enter nepali = "))

    total = physics + chemistry + math + english + nepali
    per = total/5

    if per >= 80:
        grade = 'A'
    elif per >= 60:
        grade = 'B'
    elif per >= 40:
        grade = 'C'
    else:
        grade = 'F'
        
    result = result + f"{name} {physics} {chemistry} {math} {english} {nepali} {total} {per} {grade}\n"
    i = i+1
    
print(result)

Enter n = 2
Enter name = Ram
Enter physics marks = 90
Enter chemistry = 87
Enter math = 78
Enter english = 78
Enter nepali = 90
Enter name = 87
Enter physics marks = 67
Enter chemistry = 89
Enter math = 67
Enter english = 87
Enter nepali = 56

In [18]:
print(result)

Ram 90 87 78 78 90 423 84.6 A
87 67 89 67 87 56 366 73.2 B

In [ ]:
a = 111
a = 100+10+1

In [22]:
a = input("Enter number = ")
b = a[::-1]
if a == b:
    print("The  is palendrome ")
else:
    print("This is not.")

Enter number = 1000
This is not.

In [ ]:
# for else
#while else

In [29]:
x = int(input("Enter x = "))
if x>=2:
    for i in range(2,x):
        if x%i==0:
            print("Composite")
            break
    else:
        print("Prime")
else:
    print("The should >= 2")

Prime