In [1]:
# tuple
# -Indexing
# -Ordered
# -Multiple data
# -Imutable

In [9]:
t1 = (1,2,3,4,)
t2 = ("Apple","Ball",)
print(type(t1))
print(type(t2))
print(t1)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4)

In [5]:
t2 = ("Apple",)
print(type(t2))

<class 'tuple'>

In [8]:
t2 = ("Apple","Ball",)
print(t2[1])

Ball

In [ ]:
# no edit
# no delete

In [10]:
t1 = (1,2,3,4,)
t2 = ("Apple","Ball",)
t = t1+t2
print(t)

(1, 2, 3, 4, 'Apple', 'Ball')

In [11]:
t1 = (1,2,3,4,)
print(t1*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [14]:
t1 = ()
t2 = ("Apple",)
t = t1+t2
t

('Apple',)

In [16]:
t2 = ("Apple","Ball",)
t2[0] = 'Ant'
t2

TypeError: 'tuple' object does not support item assignment

In [17]:
# No del pop() remove()
# No update or edit
# No append() insert() extend()

In [18]:
# no sort()
# no reverse()

In [19]:
gender = ("Male","Female","Other")

In [20]:
t2 = ("Apple","Ball",)
list(t2)

['Apple', 'Ball']

In [25]:
t2 = ("Apple","Ball",)
t = list(t2)
del t[0]
t = tuple(t)
t

('Ball',)

In [ ]:
# mix() min() sum() index()